body{
    background: url('https://previews.123rf.com/images/leyasw/leyasw1412/leyasw141200059/34793027-light-gray-wood-texture-background-natural-pattern-swatch-horizontal-template-vector-illustration.jpg');
    
}
#container{
    margin-left: 30px;
}
.city
{
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 9px;
}
.button{
    margin-left: 18px;
    margin-top: 4px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    background-color: #b9b1b1;
}